body { 
  
  padding-top: 100px; 
  background: black url(/Pictures/cat.jpg) no-repeat fixed top; 
  background-size: cover;
  font-family: Arial;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.container {
  position: fixed;
}
strong {
  color:aqua;

}

#changingBorder{
    margin-top: 100px;
}

h1 {
  display: inline-block; 
  text-shadow:2px 2px 2px #000000;
  text-align: justify;
}

p {
  display: block;
}

#logout-btn{
  margin-right: 50px;
  margin-top: 9px;
  width: 72px;
  background:-webkit-gradient(linear, 59% 17%, 34% 21%, from(#696294), to(#367194));
  border-color:#877487;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  box-shadow: 2px 2px 2px #000000;
}

#header{
  background-color: rgba(220, 171, 219, 0.5);
  background: rgba(220, 171, 219, 0.5);
  color: rgba(220, 171, 219);
  border-bottom: transparent;
}

.fa-headphones {
  color: white;
  text-shadow: 2px 2px 2px #000000;
}



.userPass, .userPass1, .userPass2, .userPass3, .userPass4 ,
#userPass, #userPass1, #userPass2, #userPass3, #userPass4  {
  display: block;
  width: 230px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255);
  border:none 1px #f2e7af;
  margin-top: 10px;
 
}

#passwordInput {
  margin-top: 10px;
}

#signInForm, #signUpForm {
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255);
  text-shadow:5px 5px 5px #000000;
  float: left;
  line-height: inherit;
  width: 260px;
  height: 180px;
  text-align: center;
  margin-top: 40px;
  
}

#signUpForm {
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255);
  text-shadow:5px 5px 5px #000000;
  float: left;
  line-height: inherit;
  width: 260px;
  height: 220px;
  text-align: center;
  margin-top: 40px; 
  display: none;
}


#Sing-up-form{
  margin-top: 20px;
}

#loginf {
  text-align: center
}

#summary {
  width: 440px;
  text-align: justify;
}

#startButton {
  background-color: rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
  border-top-color: transparent;
  margin-top: 15px;
  border-color: transparent;
  box-shadow: 2px 2px 2px #000000;
}

#startButton2 {
  margin-top: 15px;
  box-shadow: 2px 2px 2px #000000;
}

#page2 {
  display:none;
}

.dropdown-menu {
  background-color: rgba(172, 212, 255, 0.9);
  background: rgba(172, 212, 255, 0.9);
  color: #fff;
  height: 200px;
  overflow: auto;
  width: 204px;
  }

#containerP2 {
  width: 100%;
}

.page3 {
  width:100%;
  color: #fff;
  text-shadow:5px 5px 5px #000000;
  font-size: 14px;
  display:none;
  width: 400px;
  margin-right: 0px;
  margin-left: 200px;
  margin-top: 60px;
}

#cutie { 
  
  margin-top: 120px;
  margin-left: 10px;
  text-shadow:5px 5px 5px #000000;

  -webkit-animation: cssAnimation 3.4583s 30 ease;
  -moz-animation: cssAnimation 3.4583s 30 ease;
  -o-animation: cssAnimation 3.4583s 30 ease;
  }
  @-webkit-keyframes cssAnimation {
  from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -webkit-transform: rotate(360deg) scale(0.798) skew(1deg) translate(0px); }
  }
  @-moz-keyframes cssAnimation {
  from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -moz-transform: rotate(360deg) scale(0.798) skew(1deg) translate(0px); }
  }
  @-o-keyframes cssAnimation {
  from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
  to { -o-transform: rotate(360deg) scale(0.798) skew(1deg) translate(0px); };
  text-shadow:5px 5px 5px #000000;
  }

#cutie1 {
  margin-right: 0px;
  margin-top: 60px;
  width: 180px;
  height: 180px;
  text-align: center;
}

th, input {
  background-color: rgba(117, 34, 123, 0.4);
  background: rgba(117, 34, 123, 0.4);
  color: rgba(117, 34, 123);
}

.table {
  position: static;
  width: 1000px;
  margin-left: 0px;
}

#submitButton {
  width: 106px;
  margin-left: 48%;
  margin-top: 20px;
  box-shadow: 2px 2px 2px #000000;
}

.submitNewSong {
  width:1000px;
}

.panel-footer {
  margin-top: 600px;
  background-color: rgba(220, 171, 219, 0.2);
  background: rgba(220, 171, 219, 0.2);
  color: rgba(220, 171, 219);
  border-bottom: transparent;
  border-top: transparent;
  padding-top: 15px;
}
}

#footerPic {
  width: 30px;
}
